---
import { format } from 'date-fns';
import { getCollection, CollectionEntry } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { generateSlug, convertToBanglaNumber } from '../../utils';

export async function getStaticPaths() {
  const recipes = await getCollection('recipes');

  return recipes.map((recipe) => {
    return {
      params: {
        slug: generateSlug(recipe.data.title),
      },
      props: {
        recipe,
      },
    };
  });
}

interface Props {
  recipe: CollectionEntry<'recipes'>;
}

const { recipe } = Astro.props;
const { Content } = await recipe.render();
---

<BaseLayout title={recipe.data.title}>
  <article data-pagefind-body>
    <div class="mb-4">
      <h1 class="text-3xl font-bold text-primary-600 mb-4">
        {recipe.data.title}
      </h1>
      <p>{recipe.data.metaInfo.description}</p>
      <ul>
        <li>
          <span>প্রস্তুতিকাল</span>
          <span
            >{convertToBanglaNumber(recipe.data.time.preparation)} মিনিট</span
          >
        </li>
        <li>
          <span>রান্নার সময়</span>
          <span>{convertToBanglaNumber(recipe.data.time.cooking)} মিনিট</span>
        </li>
      </ul>
      <ul class="my-4">
        {
          recipe.data.tags.map((tag) => (
            <li>
              <a href={`/tags/${generateSlug(tag)}`} data-pagefind-filter="tag">
                #{tag}
              </a>
            </li>
          ))
        }
      </ul>
      <p class="mb-4">
        Published at: {format(new Date(recipe.data.createdAt), 'MMMM dd, yyyy')}
      </p>
      <p class="text-primary-600">
        <a href={`/categories/${generateSlug(recipe.data.category)}`}
          >Category: {recipe.data.category}</a
        >
      </p>
    </div>
    <article class="prose prose-headings:text-primary-600">
      <h2>রান্নার প্রক্রিয়া</h2>
      <Content />
    </article>
  </article>
</BaseLayout>
