---
import { format } from 'date-fns';
import { bn } from 'date-fns/locale';
import { getDate } from 'bangla-calendar';
import {
    ClockIcon,
    FireIcon,
    HashIcon,
    TagIcon,
    UsersIcon,
} from '@phosphor-icons/react';
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import {
    convertToBanglaNumber,
    generateSlug,
    getFormattedDurationFromMinutes,
} from '@/lib/utils';
import HeroImage from '@/components/HeroImage.astro';
import { Link } from '@/components/Link';

interface Props {
    recipe: CollectionEntry<'recipes'>;
}

const { recipe } = Astro.props;
const {
    data: { title, metaInfo },
} = recipe;

const lastModifiedDate = {
    day: format(new Date(recipe.data.updatedAt), 'dd'),
    month: format(new Date(recipe.data.updatedAt), 'MMMM', {
        locale: bn,
    }),
    year: format(new Date(recipe.data.updatedAt), 'yyyy'),
};
---

<BaseLayout
    meta={{
        title,
        description: metaInfo.description,
        createdAt: new Date(recipe.data.createdAt).toJSON(),
        updatedAt: new Date(recipe.data.updatedAt).toJSON(),
    }}
>
    <article class="container mx-auto px-6 pt-6 pb-16" data-pagefind-body>
        <div class="grid grid-cols-12 items-center sm:gap-6">
            <div
                class=" felx  col-start-1 col-end-13 h-auto w-full items-center justify-items-center overflow-hidden rounded-3xl md:col-span-6 md:h-[512px]"
            >
                <HeroImage />
            </div>
            <div
                class="col-start-1 col-end-13 pt-4 sm:pt-0 md:col-span-7 md:col-start-7"
            >
                <h1 class="text-2xl font-normal sm:text-3xl">{title}</h1>
                <p class="pt-4 pb-6 text-base">
                    {recipe.data.metaInfo.description}
                </p>
                <div
                    class="border-chilli-600/10 grid grid-cols-3 border-y py-6 md:gap-6"
                >
                    <div
                        class="border-chilli-600/10 flex flex-col items-center justify-center border-r"
                    >
                        <ClockIcon className="h-8 w-8" />
                        <p class="pt-2 text-base font-normal">প্রস্তুতির সময়</p>
                        <p class="pt-2 text-sm font-light">
                            {
                                getFormattedDurationFromMinutes(
                                    recipe.data.time.preparation
                                )
                            }
                        </p>
                    </div>
                    <div
                        class="border-chilli-600/10 flex flex-col items-center justify-center border-r"
                    >
                        <FireIcon className="h-8 w-8" />
                        <p class="pt-2 text-base font-normal">রান্নার সময়</p>
                        <p class="pt-2 text-sm font-light">
                            {
                                getFormattedDurationFromMinutes(
                                    recipe.data.time.cooking
                                )
                            }
                        </p>
                    </div>
                    <div class="flex flex-col items-center justify-center">
                        <UsersIcon className="h-8 w-8" />
                        <p class="pt-2 text-base font-normal">খেতে পারবে</p>
                        <p class="pt-2 text-sm font-light">
                            {convertToBanglaNumber(recipe.data.serving)} জন
                        </p>
                    </div>
                </div>
                <div
                    class="border-chilli-600/10 flex w-full flex-col items-center justify-center border-b px-6 py-6 text-sm sm:flex-row sm:px-0"
                >
                    <span
                        class="border-chilli-600/10 w-full border-b pr-6 pb-4 text-center sm:w-auto sm:border-r sm:border-b-0 sm:pb-0 sm:text-left"
                    >
                        <TagIcon className="relative -top-0.5 inline" />
                        <span class="pl-2">
                            <Link
                                to={`/categories/${generateSlug(recipe.data.category)}`}
                                variant="primary"
                            >
                                {recipe.data.category}
                            </Link>
                        </span>
                    </span>
                    {
                        recipe.data.tags ? (
                            <span class="pt-4 sm:pt-0 sm:pl-6">
                                <HashIcon className="inline relative -top-0.5" />
                                <ul class="inline pl-2">
                                    {recipe.data.tags.map((tag, index) => (
                                        <li class="inline-block pr-2 last:pr-0">
                                            <Link
                                                to={`/tags/${generateSlug(tag)}`}
                                                variant="primary"
                                            >
                                                {tag}
                                            </Link>
                                            {recipe.data.tags &&
                                            index !==
                                                recipe.data.tags.length - 1
                                                ? ','
                                                : ''}
                                        </li>
                                    ))}
                                </ul>
                            </span>
                        ) : (
                            ''
                        )
                    }
                </div>
            </div>
        </div>
        <div class="grid grid-cols-12 gap-6 pt-6">
            <div class="col-start-1 col-end-13 md:col-span-8">
                <h2 class="text-xl font-normal sm:text-2xl">
                    রান্নার প্রক্রিয়া
                </h2>
                <section
                    class="prose dark:text-foreground prose-p:text-base max-w-none pt-6"
                >
                    <slot />
                </section>
                <p class="text-pablo-700/80 pt-8 text-xs font-normal">
                    <span class="font-light">সর্বশেষ আপডেট:</span>
                    {'  '}
                    <span>
                        {
                            `${getDate(new Date(recipe.data.updatedAt), {
                                format: 'dd MMMM yyyy',
                            })} | ${convertToBanglaNumber(Number(lastModifiedDate.day))} ${
                                lastModifiedDate.month
                            } ${convertToBanglaNumber(Number(lastModifiedDate.year))}`
                        }
                    </span>
                </p>
            </div>
            <div
                class="order-first col-start-1 col-end-13 md:order-last md:col-span-4 md:col-start-9"
            >
                <h2 class="text-xl font-normal sm:text-2xl">উপকরণ</h2>
                {
                    Object.entries(recipe.data.ingredients).map(
                        ([key, valule]) => (
                            <section class="pt-6">
                                {key !== 'main' && (
                                    <h3 class="text-lg font-normal sm:text-xl">
                                        {key}
                                    </h3>
                                )}
                                <ul>
                                    {valule.map((item, index) => (
                                        <li class="border-chilli-600/10 border-b pt-4 pb-2 text-sm">
                                            <span class="font-normal">
                                                {convertToBanglaNumber(++index)}
                                            </span>
                                            . {item}
                                        </li>
                                    ))}
                                </ul>
                            </section>
                        )
                    )
                }
            </div>
        </div>
    </article>
</BaseLayout>
